@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex: 1;
}

.game-board {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    background-color: #cbd5e1;
    align-items: stretch;
    justify-content: stretch;
}

.cell {
    background-color: #f8fafc;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 100%;
    width: 100%;
}

.cell:hover {
    filter: brightness(95%);
}

.win {
    color: #b91c1c;
    font-size: 4rem;
    font-weight: 900;
    background-color: #fde68a;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}


.win-message {
    display: none;
    flex-direction: column;
    gap: 2rem;
    width: 93%;
    max-width: 500px;
    min-width: 300px;
    box-sizing: border-box;
    padding: 2rem;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    background-color: #ffffff;
    transform: translate(-50%, -50%) scale(1);
    align-items: center;
}

.win-message.active {
    display: flex;
}

.win-message h2 {
    font-size: 2rem;
}

.win-text {
    font-size: 1.75rem;
    color: #b91c1c;
    font-weight: 500;
    text-align: center;
    display: none
}

.win-text.active {
    display: block;
}

.reset {
    padding: 1rem;
    font-size: 1.5rem;
    color: #64748b;
    background-color: #f8fafc;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: #64748b;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.reset:hover {
    filter: brightness(90%);
}

.reset:active {
    filter: brightness(80%);
}

.reset svg path{
    fill: #64748b;
    width: 1rem;
    height: 1rem;
}

.reset svg {
    width: 1.5rem;
    height: 1.5rem;
}

footer {
    background-color: #64748b;
    display: flex;
    min-height: 3rem;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}